::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;

  position: relative;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  isolation: isolate;
  
  width: 100%;
  height: 64px;

  background: #444242;
}

.logo-header {
  display: block;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 38.01px;
  top: 12.99px;

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

.goHome {
  cursor: pointer;
}

.icone-header-voltar {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 20px;

  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

.icone-header-voltar img {
  width: 20px;
  height: 16px;
  margin-left: 15px;
  
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header-botoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0px;
  
  height: 20px;
  
  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2;
}

.header-botoes-car-fav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 27px;
  
  flex: none;
  order: 0;
  flex-grow: 0;
}

.qtd-fav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 39px;
}

.qtd-fav div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0,3px;
  
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0px;
  
  background: #FA9401;
  border-radius: 20px;
}

.qtd-fav p {
  width: 5.83px;
  height: 11.67px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}

.car-fav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;

  width: 32px;
  height: 100%;

  text-align: center;

  color: #FFFFFF;
}

.car-fav img {
  width: 20px;
  height: 19px;
  
  flex: none;
  order: 0;
  flex-grow: 0;
}

.icone-header-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-right: 30px;

  width: 26px;
  height: 20px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.subHeader {
  background: #F2F2F2;
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  height: 50px;
}

.subHeader-titulo p {
  width: 57px;
  height: 19px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-left: 15px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #FA9401;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 0px;
  padding: 15px;
}

.main-container hr {
  width: 100%;
  border: 1px solid #E8E8E8;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 0px;
  color: #5B5A5A;
}

.info p {
  margin-left: 19.5px;
}

.socialButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin-top: 46px;
}

.socialLink {
  cursor: pointer;
}

.botao-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  
  background: #FA9401;
  cursor: pointer;
}

.botao-footer p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 25px;
}

.botao-fale-conosco {
  display: none;
}

 /*Big smartphones*/
@media only screen
  and (max-device-width: 499px)
  and (max-device-height: 1023px)
  and (orientation:portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    
  body {
    /* background: blue */
  }

  .main-container {
    padding: 0px;
    margin-left: 15px;
    margin-right: 15px;
    height: 204px;
  }
  
  .main-container hr {
    margin: 0px;
  }
  
  .info {
    height: 32px;
  }

  .icone-header-menu {
    margin-right: 15px;
  }

  .header-botoes-car-fav {
    margin-right: -10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 27px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
  }

}

 /*Big smartphones*/
@media only screen
  and (max-device-width: 1023px)
  and (max-device-height: 499px)
  and (orientation:landscape)
  and (-webkit-min-device-pixel-ratio: 1) { 

  body {
    min-height: 100vh;
    /* background: green; */
  }

  .main-contant {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .main-container {
    flex-direction: column;
    padding: 0px;
    margin-left: 15px;
    margin-right: 7.5px;
    height: 204px;
    width: 50%;
  }
  
  .main-container hr {
    margin: 0px;
  }
  
  .info {
    height: 32px;
  }
  
  .logo-botoes {
    height: 100%;
    width: 100%;
  }

  .botao-footer {
    display: none;
  }

  .section-fale-conosco {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-left: 7.5px;
    margin-right: 15px;
    height: 204px;
    width: 50%;

    font-weight: 700;
  }

  .botao-fale-conosco {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    
    width: 139px;
    height: 50px;

    background: #FA9401;
    border: 1px solid #444242;
    border-radius: 50px;
    color: #fff;
  }

  .socialButtons {
    display: none;
  }
}
 
 /*Small smartphones*/
@media only screen
  and (max-device-width: 359px)
  and (max-device-height: 639px)
  and (orientation:portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    body {
      /* background: #FFB64E; */
    }

    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      isolation: isolate;
      
      width: 100%;
      height: 64px;
    
      background: #444242;
    }

    .logo-header {
      height: 30.01px;
      top: 19px;
    }

    .icone-header-menu {
      margin-right: 15px;
    }

    .header-botoes-car-fav {
      margin-right: -10px;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 27px;
      
      flex: none;
      order: 0;
      flex-grow: 0;
    }
}

/*Small smartphones Landscape*/
@media only screen
  and (max-device-width: 639px)
  and (max-device-height: 359px)
  and (orientation:landscape)
  and (-webkit-min-device-pixel-ratio: 1) {

    body {
      /* background: #FFB64E; */
    }

    .main-contant {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
    .main-container {
      flex-direction: column;
      padding: 0px;
      margin-left: 15px;
      margin-right: 7.5px;
      height: 200px;
      width: 60%;
    }
    
    .main-container hr {
      margin: 0px;
    }
    
    .info {
      height: 32px;
    }
    
    .logo-botoes {
      height: 100%;
      width: 100%;
    }
  
    .botao-footer {
      display: none;
    }
  
    .section-fale-conosco {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px;
      margin-left: 7.5px;
      margin-right: 15px;
      height: 204px;
      width: 40%;
  
      font-weight: 700;
    }
  
    .botao-fale-conosco {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px;
      
      width: 139px;
      height: 50px;
  
      background: #FA9401;
      border: 1px solid #444242;
      border-radius: 50px;
      color: #fff;
    }
  
    .socialButtons {
      display: none;
    }
}