::-webkit-scrollbar {
  display: none;
}

body {
  background: #444242;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 15px;
  isolation: isolate;
  
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0px;
  top: 22px;

  /* background: #444242; */
  /* background: #0f0f0f; */
}

.logo-header {
  display: none;
  /* position: absolute; */
  /* width: 122px; */
  width: 100%;
  height: 38.01px;
  left: calc(50% - 122px/2);
  top: 12.99px;

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

.icone-header-voltar {
  /* background: yellow; */
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 90%;

  display: block;
  width: 20px;
  height: 20px;

  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

.icone-header-voltar img {
  width: 20px;
  height: 16px;
  
  /* background: #FFFFFF; */
  
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header-botoes {
  /* background: red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0px;
  
  width: 100%;
  height: 20px;
  
  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2;
}

.header-botoes-car-fav {
  display: none;
  justify-content: flex-end;
  width: 100%;
  height: 27px;
  
  flex: none;
  order: 0;
  flex-grow: 0;
  /* background: green;        */
  /* padding: 30px; */
}

.qtd-fav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 39px;
}

.qtd-fav div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0,3px;
  
  position: absolute;
  width: 16px;
  /* width: 50%; */
  height: 16px;
  /* left: 16px; */
  top: 0px;
  
  background: #FA9401;
  border-radius: 20px;
}

.qtd-fav p {
  width: 5.83px;
  height: 11.67px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}

.car-fav {
  background: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;

  width: 32px;
  height: 100%;

  text-align: center;

  color: #FFFFFF;
}

.car-fav img {
  width: 20px;
  height: 19px;
  
  /* background: #FFFFFF; */
  
  flex: none;
  order: 0;
  flex-grow: 0;
}

.icone-header-menu {
  /* background: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-right: 30px;

  width: 26px;
  height: 20px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

/* .box-idioma {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 12px;

  position: absolute;
  width: 121.33px;
  width: 121.33px;
  height: 34px;
  left: 15px;
  top: 15px;

  background: #FFFFFF;
  border-radius: 50px;
} */

.selectIdioma {
  position: absolute;
  font-family: 'Roboto';
  background: #FFFFFF;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 121.33px;
  height: 34px;
  padding: 5px 12px;
  border-radius: 50px;
  margin-left: 15px;
  margin-top: 15px;
}

.imageFlagCount {
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

.selectIdioma select {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  height: 100vh;
  /* background: #c01010; */
}

.logo-botoes {
  /* background: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  height: 370px;
}

.logo {
  /* background: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  /* margin-top: 30%; */
  
  width: 240.52px;
  height: 75px;
  
  flex: none;
  order: 0;
  flex-grow: 0;
}

.menu-buttons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.menu-buttons button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-top: 10px;
  
  width: 265px;
  height: 50px;
  
  background: #444242;
  border: 1px solid #FA9401;
  border-radius: 50px;
}

.menu-buttons img {
  padding: 10px;
}

.menu-buttons button:focus {
  background: #FA9401;
}

.menu-buttons p {
  height: 19px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  
  text-align: center;
  
  color: #FFFFFF;
  
  border-radius: 25px;
  
  flex: none;
  order: 1;
  flex-grow: 0;
}

.button-searchbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  
  width: 265px;
  height: 245px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.social {
  /* background: yellow; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  padding: 0px;
  
  position: absolute;
  width: 100%;
  height: 64px;
  /* top: 960px; */
}

.social div {
  /* background: red; */
  margin-right: 7.5px;
  margin-left: 7.5px;
  height: 100%;
}

.social img {
  cursor: pointer;
  /* background: green; */
  width: 30px;
  height: 30px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  flex: none;
  order: 0;
  flex-grow: 0;
}

.icoFacebook {
  width: 30px;
  height: 30px;
  
  flex: none;
  order: 1;
  flex-grow: 0;
}

.icoInstagram {
  width: 30px;
  height: 30px;

  flex: none;
  order: 2;
  flex-grow: 0;
}

 /*Big smartphones*/
@media only screen
  and (max-device-width: 499px)
  and (max-device-height: 1023px)
  and (orientation:portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    
  body {
    background: blue
  }

}

 /*Big smartphones*/
@media only screen
  and (max-device-width: 1023px)
  and (max-device-height: 499px)
  and (orientation:landscape)
  and (-webkit-min-device-pixel-ratio: 1) {

  body {
    background: green;
  }
}
 
 /*Small smartphones*/
@media only screen
  and (max-device-width: 359px)
  and (max-device-height: 639px)
  and (orientation:portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    body {
      background: yellow;
    }
}

/*Small smartphones Landscape*/
@media only screen
  and (max-device-width: 639px)
  and (max-device-height: 359px)
  and (orientation:landscape)
  and (-webkit-min-device-pixel-ratio: 1) {

  body {
    background: purple;
  }
}