/*Tablets*/
@media only screen 
and (min-device-width: 768px) 
/* and (max-device-width: 1024px)  */
and (-webkit-min-device-pixel-ratio: 1) {
  ::-webkit-scrollbar {
    display: none;
  }
  
  body {
    position: relative;
    width: 768px;
    height: 1024px;
    background: #444242;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 15px;
    gap: 43px;
    isolation: isolate;
    
    position: absolute;
    width: 768px;
    height: 20px;
    left: 0px;
    top: 22px;
    
    background: #444242;
  }

  .box-idioma {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 12px;

    position: absolute;
    width: 121.33px;
    height: 34px;
    left: 15px;
    top: 15px;

    background: #FFFFFF;
    border-radius: 50px;
  }

  .icone-header-voltar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px;
    gap: 10px;
    
    display: block;
    width: 20px;
    height: 20px;

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
  }

  .logo-header {
    position: absolute;
    display: block;
    width: 122px;
    height: 38.01px;
    left: calc(50% - 122px/2);
    top: 12.99px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
  }

  .header-botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    
    width: 26px;
    height: 20px;
    
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
  }

  .logo-botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 50px;
    
    position: absolute;
    width: 265px;
    height: 370px;
    left: 252px;
    top: 327px;
  }

  .menu-buttons button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    
    width: 265px;
    height: 50px;
    
    background: #444242;
    border: 1px solid #FA9401;
    border-radius: 50px;
  }

  .menu-buttons button:focus {
    background: #FA9401;
  }
  
  .menu-buttons p {
    height: 19px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    
    text-align: center;
    
    color: #FFFFFF;
    
    border-radius: 25px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
    width: 240.52px;
    height: 75px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .button-searchbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    
    width: 265px;
    height: 245px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .social-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 15px;
    
    position: absolute;
    width: 769px;
    height: 64px;
    left: -1px;
    top: 960px;
  }
}

/*Big smartphones*/
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 640px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  body {
    background-color: green;
  }
}

 /*Small smartphones*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  
 
  body {
    background-color: yellow;
  }
}